@charset "utf-8";

	.highlighted{
   		-webkit-filter: grayscale brightness(150%);
	}

	div.gameBoard > div.gameTile{
        position:   relative;
		height:     15%;
		width: 	    15%;
	}
	
	div.gameBoard{
		position: absolute;
        height: 100%;
        width: 100%;
	}
	
	div.gameplayUnit{
        position:	absolute;
        height:     10%;
        width:      10%;
	}
	
	div.gameplayUnitDefense{
		bottom:         0;
        color: rgb(8, 138, 41);
		font-size:      16px;
		font-weight:    bold;
        letter-spacing: -2px;
		padding:        5px;
		position:       absolute;
        right:          0;
	}
	
	div.gameplayUnitAttack{
		bottom:         0;
        color: rgb(180, 95, 4);
		font-size:      16px;
		font-weight:    bold;
        left:           0;
        letter-spacing: -2px;
		padding:        5px;
		position:       absolute;
	}
	
	div.gameplayUnit img{
        position:   absolute;
		height:		100%;
		width:		100%;
	}

    div.gameplayUnit[team="user"]{
        background-image: url(../img/Sprites/Tiles/blueSplash.png);
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
    }

    div.gameplayUnit[team="enemy"]{
        background-image: url(../img/Sprites/Tiles/redSplash.png);
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
    }
	
	div.gameTile[light="0"]{
        background-image: url(../img/Sprites/Tiles/dark.png);
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
	}
	
	div.gameTile[light="1"]{
        background-image: url(../img/Sprites/Tiles/bright.png);
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
	}
	
	div.gameTile.highlightedForMove[light="0"]{
        background-image: url(../img/Sprites/Tiles/darkHighlighted.png);
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
    }

    div.gameTile.highlightedForMove[light="1"]{
        background-image: url(../img/Sprites/Tiles/brightHighlighted.png);
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
    }