@charset "utf-8";

	.highlighted{
   		-webkit-filter: grayscale;
		-webkit-filter: brightness(150%); 		
	}

	div.gameBoard > div.gameTile{
		height: 70px;
		width: 	70px;
	}
	
	div.gameBoardContainer{
		position: relative;
	}
	
	div.gameplayUnit{
		left:0px;
		position:absolute;	
		top:0px;
	}
	
	div.gameTile[light="0"]{
		background-color: #666;
	}
	
	div.gameTile[light="1"]{
		background-color: #444;
	}
	
	div.gameTile.highlightedForMove{
   		background-color: #DDD;
	}