@charset "utf-8";

	body{
		font-size: 12px;	
	}

/* Card View */
	div.manageUnitCardContainer{
		height:     350px;
        left:       700px;
		position:   absolute;
		top:        10px;
        width:      250px;
	}
	div.unitCard{
        background-color:   #FFF;
        border-style:       solid;
        border-color:       #000;
        border-width:       1px;
        height:             100%;
		position:           absolute;
		width:              100%;
	}
	div.unitCard img{
		margin:     0px;
		padding:    0px;
	}
	div.unitCard div{
		position:absolute;
	}
	
	/* Attribute Icons */
		div.attributeIcon{
			overflow:hidden;
		}
		div.attributeIcon img{
			float:right;
		}
		div.damageIcon{
			height: 25%;
			left:   95%;
			top:    35%;
            width:  4%;
		}
		div.defenseIcon{
            height: 25%;
            left:   95%;
            top:    2.5%;
            width:  4%;
		}
		div.teamcostIcon{
            height: 25%;
            left:   95%;
            top:    67.5%;
            width:  4%;
		}
	
	/* Attribute Value Bars */
		div.attributeBar{	
			overflow:       hidden;
            height:         21%;
            width:          100%;
		}
		div.attributeBar .attributePoint{
            float:          right;
			padding-right:  2%;
            height:         100%;
            width:          5%;
		}
		div.unitCard div.attributeValue{
			float:          right;
			font-size:      11px;
			font-weight:    bold;
            padding-right:  2%;
            position:       relative;
		}
		div.damageBar{
            top:    39.5%;
		}
		div.defenseBar{
            top:    9.25%;
		}
		div.teamcostBar{
            top:    69.75%;
		}
		
	/* Statistics Box */
		div.unitStatBox{
			width:          92%;
			height:         14.2%;
			left:           4%;
			top:            59.7%;
			border:         solid;
			border-width:   1px;
			border-color:   #000;
		}
		div.unitTypeName{
            font-size:  30px;
            height:     60%;
            padding:    4.3%;
			position:   static;
            width:      91.4%;
        }
	
	/* Movement Boxes */

		div.movementClasses{
			height:         20.34%;
            left:           4%;
            top:            76.7%;
            width:          92%;
		}
		div.movementSetDisplay{
			height: 100%;
            width:  100%;
		}
        div.movementSetDisplay div.boardIcon{
            border-color:   #000;
            border-style:   inset;
            display:        inline-block;
            float:          right;
            height:         100%;
            margin:         auto;
            position:       relative;
            width:          31%;
        }
        div.boardIcon img{
            display:        block;
            height:         100%;
            position:       relative;
            width:          100%;
        }
		div.movementSetDisplay div.movementDisplay{
            border-color:   #000;
            border-style:   inset;
            display:        inline-block;
            height:         100%;
            margin-right:   3.5%;
            position:       relative;
            width:          31%;
		}
		div.movementDisplay img{
			height:     33.3%;
            position:   absolute;
            width:      33.3%;
		}
		img.movementArrowN{
			left:   33.3%;
			top:    0;
		}
		img.movementArrowNE{
            left:   66.6%;
            top:    0;
			transform:rotate(45deg);
			-ms-transform:rotate(45deg); /* IE 9 */
			-webkit-transform:rotate(45deg); /* Safari and Chrome */
		}
		img.movementArrowE{
            left:   66.6%;
            top:    33.3%;
			transform:rotate(90deg);
			-ms-transform:rotate(90deg); /* IE 9 */
			-webkit-transform:rotate(90deg); /* Safari and Chrome */
		}
		img.movementArrowSE{
            left:   66.6%;
            top:    66.6%;
			transform:rotate(135deg);
			-ms-transform:rotate(135deg); /* IE 9 */
			-webkit-transform:rotate(135deg); /* Safari and Chrome */
		}
		img.movementArrowS{
            left:   33.3%;
            top:    66.6%;
			transform:rotate(180deg);
			-ms-transform:rotate(180deg); /* IE 9 */
			-webkit-transform:rotate(180deg); /* Safari and Chrome */
		}
		img.movementArrowSW{
            left:   0;
            top:    66.6%;
			transform:rotate(225deg);
			-ms-transform:rotate(225deg); /* IE 9 */
			-webkit-transform:rotate(225deg); /* Safari and Chrome */
		}
		img.movementArrowW{
			left:   0;
			top:    33.3%;
			transform:rotate(270deg);
			-ms-transform:rotate(270deg); /* IE 9 */
			-webkit-transform:rotate(270deg); /* Safari and Chrome */
		}
		img.movementArrowNW{
			left:   0;
			top:    0;
			transform:rotate(315deg);
			-ms-transform:rotate(315deg); /* IE 9 */
			-webkit-transform:rotate(315deg); /* Safari and Chrome */
		}
		div.movementSetName{
			display:none;	
		}
	
	div.cardArtLayers img{
		position:absolute;
	}
	div.movementSet{
		
	}
	
	
/* Everything */
body{
	font-family:Arial, Helvetica, sans-serif;
}