@charset "utf-8";

	body{
		font-size: 12px;	
	}

	div.removeFromTeam{
		background-color:	#F00;
		position:			absolute;
		height:				30px;
		left:				40px;
		top:				40px;
		width:				30px;	
	}

	input[type="text"].editableSelect{
		width: 			180px;
		margin-left:	-200px;
		margin-right:	20px;
		height:			1.1em;
		border:			0px;
	}
	select.editableSelect{
		width: 200px;
	}
	
	.Unit_manageUnits_selectedUnit{
		
		font-weight: bold;	
		
	}