@charset "utf-8";

	body{
		font-size: 12px;	
	}

	div.removeFromTeam{
		background-color: rgb(255, 0, 0);
		position:			absolute;
		height:				30%;
		left:				35%;
		top:				70%;
		width:				30%;
	}

	input[type="text"].editableSelect{
		width: 			180px;
		margin-left:	-200px;
		margin-right:	20px;
		height:			1.1em;
		border:			0;
	}
	select.editableSelect{
		width: 200px;
	}
	
	.Unit_manageUnits_selectedUnit{
		
		font-weight: bold;	
		
	}